/* Extra small devices (phones, less than 576px) */
/* No media query since this is the default in Bootstrap. If passed these px, it is in that category.*/

/* padding: top, right, bottom, left */

html {
    position: relative;
    min-height: 100%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    body{
        background: #24252D;
        color: #CACACC;


    }
    section{
        background: #24252D;
    }
    header{
        padding: 20px 10px 20px 40px;
        position: absolute;
        top: 0;
        width: 100%;
        overflow: hidden;
    }


    h1, h2 {
        font-size: 46px;
        font-weight: 400;

    }
    h3{
        font-size: 46px;
        font-weight: 400;

    }

    p{

        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;

    }

    a{
        color: #CACACC;
        text-decoration: underline;
    }


    .headShot{
        padding: 140px 20px 20px 30px;
    }

    .links{
        text-align: center;

    }

    .btn{
        font-size: 80px;
    }
    .medias{
        text-align: center;

    }



    footer{
        position: absolute;
        bottom:0;
        width: 100%;
        overflow: hidden;
        text-align: center;
        font-size: 30px;

    }

    .about{
        text-align: center;
        font-size: 38px;
        padding: 0px 80px 0px 80px;
        line-height: 1.25;

    }


    .news{
        margin: 50px 0 100px 50px;
        font-size: 40px;

    }

    table{
        width: 100%;
    }
    th{
        color: #24252D ;
    }
    td{
        padding-left: 30px;
    }

    #jobTitle{
        font-size: 63px;
        font-weight: 500;
        color: lightseagreen;
    }

}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    html{
        background-color: green;
    }

}
